{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="{% static 'devsite/img/devsdigest.ico' %}"/>
    {% block base_css %}
      <link type="text/css" rel="stylesheet" href="{% static 'devsite/css/base.css' %}"/>
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block rest_of_head %}
      <title>Dev's Digest</title>
      <meta name="description" content="Resume website for Dev Someshwar,
      software developer."></meta>
    {% endblock %}
  </head>
  <body>
    {% block home_button %}
      <div id="home-button"><a href="/">
        <img src="{% static 'devsite/img/devsdigest.ico' %}"></a></div>
    {% endblock %}

    {% block body %}
      <h1>Dev's Digest</h1>
      <hr>
    {% endblock %}

    {% comment %}
      {% block console %}
      <div class="console">
        <div class="active">
              <span class="console-prompt">Devs-Digest:~ dev$</span>
              <input type="text" class="console-input" size="30", row="1">
          </div>
      </div>
      {% endblock %}
    {% endcomment %}
    {% block script %}
      <script type="module" src="{% static 'devsite/js/scripts/base.js' %}"></script>
    {% endblock %}
  </body>
</html>
