{% load static from staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
    <link type="text/css" rel="stylesheet" href="{% static 'devsite/css/base.css' %}">
    {% block extra_css %}
    {% endblock %}
    {% block rest_of_head %}
      <title>Dev's Digest</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
      <h1>Dev's Digest</h1>
      <hr>
    {% endblock %}
    {% block console %}
    <div class="console">
      <div class="active">
    		<span class="console-prompt">Devs-Digest:~ dev$</span>
    		<input type="text" class="console-input" size="30", row="1">
    	</div>
    </div>
    {% endblock %}
    {% block basejs %}
    <script src="{% static 'devsite/js/jquery-1.12.2.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="{% static 'devsite/js/base.js' %}"></script>
    <script src="{% static 'devsite/js/console.js' %}"></script>
    {% endblock %}
    {% block script %}
    {% endblock %}
  </body>
</html>
