{% extends './base.html' %}
{% load static %}

{% block extra_css %}
  <link href="{% static 'devsite/css/me.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block rest_of_head %}
  <title>Dev's Digest</title>
{% endblock %}

{% block body %}
  <h1>Dev's Digest</h1>
  <hr>
  <div>
  <img src="{% static 'devsite/img/profile.jpg' %}">
  <p>My name is Dev Vibhu Someshwar, currently a software developer. My specialties
  are Python and frontend development with React, but I am also proficient with Java.
  Furthermore, I am willing and eager to learn new languages and frameworks,
  and expand my programming knowledge.</p>
  <p>When I am not coding, I can generally be found reading fantasy novels,
  surfing Wikipedia, playing games with my friends, or participating in a few rounds of
  vigorous ping-pong.</p>

  <p>I have designed and launched many software development projects.
  A few examples can be found <a href="/projects">here.</a></p>
</div>
<address>
Site owned and operated by Dev Vibhu Someshwar.<br>
For job inquiries, contact <a href="mailto:contact@devsdigest.com">contact@devsdigest.com</a>
</address>
{% endblock %}
