.v2048-legend, .v2048-legend td {
    border: 1px solid lightgray;
    font-family: "Asap", sans-serif;
    background-color: #FFEFC2;
}

.v2048-legend {
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%); /* This and previous line center the table vertically*/
}

.v2048-legend td img{
    width:75px;
    height:75px;
}

.v2048-legend td div {
    width: 75px;
    height: 75px;
    text-align: center;
    vertical-align: middle;
    display: inherit;
}

.v2048-board * {
    background-color: #FFEFC2;
}

.game-container {
    position: absolute;
    left: 50%;
    transform: translate(-175px);
}

.v2048-board > div {
    width: 350px;
    height: 85px;
    position: absolute;
    left: 0px;
}

.v2048-board-tr0 {
    top: 0px;
}

.v2048-board-tr1 {
    top: 85px;
}

.v2048-board-tr2 {
    top: 170px;
}

.v2048-board-tr3 {
    top: 255px;
}

.v2048-board div div:nth-child(1) {
    left: 5px;
}

.v2048-board div div:nth-child(2) {
    left: 94px;
}

.v2048-board div div:nth-child(3) {
    left: 181px;
}

.v2048-board div div:nth-child(4) {
    left: 268px;
}


.v2048-board div div {
    border: 1px solid lightgray;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}

.v2048-board img {
    width: 100%;
    height: 100%;
    border: 0px;
}

[src=""] {
    visibility: hidden;
}