body {
    /* Site color pallet: #FFEFC2, #c3e4fb, #3a4a4d
    * Site fonts: Asap, Roboto
    */
  background-color: #c3e4fb;
  font-family: "Asap", sans-serif;
}

h1 {
  text-align: center;
}

.console {
  position: absolute;
  background-color: #000000;
  bottom: 0;
  height: 100px;
  width: 30%;
  left: 70%;
}

.console * {
  background-color: inherit;
  color: #FFFFFF;
}

.active, .active * {
  position: absolute;
  bottom: 0;
  font-family: "Menlo";
  font-size: 11px;
}

.console-prompt {
  left: 2px;
  width: 150px;
}

.console-input {
  left: 11.5vw;
  border: none;
}

.console-input:focus {
  outline:none;
}
