{% extends '../base.html' %}

{% load static %}

{% block extra_css %}
<link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'devsite/css/2048.css' %}"/>
{% endblock %}

{% block rest_of_head %}
    <title>2048, Dev$ Style</title>
    <meta name="description" content="Implementation of 2048 from scratch"></meta>
{% endblock %}

{% block body %}
    <div class="game-container" tabindex="0">
        <div class="v2048-board"></div>

        <div class="v2048-game-over"><p>Game Over</p></div>
    </div>
    <div class="v2048-scoreboard">
        <div class="v2048-buttons">
            <button class="v2048-reset">Reset</button>
            <button class="v2048-undo">Undo</button>
            <button class="v2048-resize">Resize</button>
            <div class="v2048-resize-labels">
              <label class="v2048-width-label">Width: </label>
              <input type="text" maxlength=2 size=2 class="v2048-resize-width">
              <label class="v2048-height-label">Height: </label>
              <input type="text" maxlength=2 size=2 class="v2048-resize-height">
            </div>
        </div>
        <div class="v2048-score">
            <p>Current score: <span class="v-2048-currentscore"></span></p>
            <p>High score: <span class="v-2048-highscore"></span></p>
        </div>
    </div>
    <table class="v2048-legend"><tbody>
        <tr>
        {% for im in meme_images %}
                <td><div>{{ im.num }}</div></td>
        {% endfor %}
        </tr>
        <tr>
            {% for im in meme_images %}
                <td class="l{{forloop.counter}}"><img src="{% static im.img %}"/></td>
            {% endfor %}
        </tr>
    </tbody></table>
{% endblock %}

{% block script %}
  <script type="module" src="{% static 'devsite/js/scripts/2048.js' %}"></script>
{% endblock %}
