{% extends '../base.html' %}

{% load static %}
{% load require %}

{% block extra_css %}
<link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'devsite/css/2048.css' %}"/>
{% endblock %}

{% block rest_of_head %}
    <title>Projects: 2048 from scratch</title>
{% endblock %}

<body>
{% block body %}
    <h1>2048, Dev$ Style</h1>
    <div class="v2048-style-menu"></div>
    <div class="game-container" tabindex="0">
        <div class="v2048-board"></div>

        <div class="v2048-game-over"><p>Game Over</p></div>
    </div>
    <div class="v2048-scoreboard">
        <div class="v2048-buttons">
            <button class="v2048-reset">Reset</button>
            <button class="v2048-undo">Undo</button>
        </div>
        <div class=""v2048-score>
            <p>Current score: <span class="v-2048-currentscore"></span></p>
            <p>High score: <span class="v-2048-highscore"></span></p>
        </div>
    </div>
    <table class="v2048-legend"><tbody>
        <tr>
        {% for im in meme_images %}
                <td><div>{{ im.num }}</div></td>
        {% endfor %}
        </tr>
        <tr>
            {% for im in meme_images %}
                <td class="l{{forloop.counter}}"><img src="{% static im.img %}"/></td>
            {% endfor %}
        </tr>
    </tbody></table>
{% endblock %}

{% block script %}
  {% require_module '../data_mains/2048main.js' %}
{% endblock %}
</body>
