{% extends '../base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'devsite/css/menu_2048.css' %}">
{% endblock %}
{% block body %}
<h1>20 styles of 2048</h1>
<h2>Pick a style and start playing!</h2>

{% for style in styles %}
  <a href="{{ style.url }}" data-list-num="{{ forloop.counter }}">
    <img src="{{ style.banner }}" alt="{{ style.name }}"/>
  </a>
{% endfor %}
{% endblock %}

{% block script %}
  <script type="module" src="{% static 'devsite/js/scripts/2048menu.js' %}"></script>
{% endblock %}
